html,
body {
 	margin: 0;
 	padding: 0;
}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

#playground-app {
	background: white;
	padding: 20px;
	margin-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border-radius: 0 0 5px 5px;
}


/* general styles */

ul { list-style: none; }

button {
	display: inline-block;
	padding: 4px 10px;
	font-size: 0.9em;
	text-decoration: none;
	cursor: pointer;
	color: rgb(105,105,105);
	background-color: rgba(220,220,220,0.7);
	border: 1px solid rgb(175,175,175);
	border-radius: 3px;
	box-shadow: rgba(0,0,0,0.1) 0 1px 3px 0, inset rgba(255,255,255,0.8) 0 1px 1px 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}
button.tiny {
	font-size: 11px; line-height: 14px;
	padding: 1px 4px;
}
button[disabled] {
	opacity: 0.5;
}

/* Top controls */

#mainToolbar {
	position: relative;
}
#searchInput {
	position: absolute;
	right: 0;
}

.etched {
	color: rgb(152, 180, 152);
	text-shadow: rgb(255, 255, 255) 0 1px 1px;
	font-weight: normal;
}

header, footer, #mapView, #mapLegend, #settings, #mainToolbar {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix {clear: both; margin: 0; }
.invisible { visibility: hidden; }
.hidden { display: none; }
